@font-face {
  font-family: "Heebo";
  src: local("Heebo"), url(./fonts/Heebo-VariableFont_wght.ttf),
    format("truetype");
}

* {
  padding: 0px;
  margin: 0px;
  font-family: Heebo;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
}

.container2 {
  width: 70%;
  background-color: #f9f9f9;
  padding-bottom: 4vw;
}
.line {
  width: 100%;
  height: 0.14vw;
  background-color: #397c8f;
}

.headerPic {
  width: 100%;
  display: flex;
}

.txtHeader {
  background-color: #26b3e9;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txtHeader2 {
  color: white;
  font-size: 2.2vw;
  direction: rtl;
  padding: 0.3vw;
  font-weight: 400;
}
.secondHeader {
  font-size: 2.2vw;
  direction: rtl;
  padding: 1.4vw;
  font-weight: 400;
  color: #91714a;
  align-self: center;
  text-align: center;
  line-height: 3vw;
}

.contentGrid {
  display: grid;
  width: 90%;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.6vw;
  align-items: flex-start;
}

.elementContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.imgCont {
  height: 8vw;
  width: 8vw;
  display: flex;
  align-self: center;
}

.content {
  font-size: 1.2vw;
  font-weight: 200;
  color: #91714a;
  direction: rtl;
  text-align: center;
  line-height: 1.8vw;
}

.superGrid {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2vw;
}

.contentHeader {
  color: #469bad;
  font-size: 2.5vw;
  font-weight: 300;
  text-align: center;
  padding: 0.4vw;
}

.form {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 1.5vw;
}

input {
  direction: rtl;
  margin-bottom: 0.5vw;
  border-radius: 4px;
  text-indent: 5px;
  font-size: 1.6vw;
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

.inputCont {
  display: flex;
  flex-direction: column;
  margin-right: 0.5vw;
}

.inputHeader {
  color: white;
  font-size: 1vw;
  align-self: flex-end;
  direction: rtl;
  padding: 0.5vw;
}

.formHeader {
  color: white;
  font-size: 2.2vw;
  font-weight: 300;
  direction: rtl;
  padding-right: 1.5vw;
  padding-top: 1vw;
}

.formCont {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  padding-bottom: 2vw;
}

span {
  color: #438597;
}

.submit {
  background-color: #91714a;
  color: white;
  padding: 0.2vw 1vw;
  margin-top: -0.2vw;
  font-size: 1.5vw;
  border: none;
  border-radius: 4px;
}

.spinner {
  width: 3.3vw;
  margin-top: -0.5vw;
}

@media only screen and (max-width: 700px) {
  .container {
    overflow-x: hidden;
  }
  .container2 {
    width: 100%;
    padding-bottom: 0px;
  }

  .contentGrid {
    grid-template-columns: 1fr;
    gap: 7vw;
  }

  #one {
    order: 3;
  }
  #three {
    order: 1;
  }

  #two {
    order: 2;
  }

  .form {
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    justify-content: center;
  }

  input {
    width: 80%;
  }

  .inputCont {
    width: 70%;
    align-items: center;
  }

  #sub {
    width: 40%;
  }

  .formHeader {
    text-align: center;
    margin-right: 0px;
  }

  .txtHeader2 {
    font-size: 5vw;
    line-height: 6vw;
  }
  .secondHeader {
    font-size: 5vw;
    line-height: 8vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    align-self: center;
  }

  .imgCont {
    width: 14vw;
    height: 14vw;
  }

  .contentHeader {
    font-size: 6vw;
  }

  .content {
    font-size: 4vw;
    line-height: 4.5vw;
    width: 80%;
  }

  input {
    font-size: 5vw;
  }

  .submit {
    font-size: 5vw;
  }

  .formHeader {
    font-size: 4.5vw;
  }

  .formCont {
    margin-top: 8vw;
    padding-bottom: 5vw;
    padding-top: 2vw;
  }
}
